.btn-default {
    width: 100%;
    background-color: #F7B718;
    border: 1px solid #F7B718;
    font-weight: 300;
    font-style: normal;
    color: #FFFFFF;
    padding: 10px 0;
    font-size: 30px;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px 0;
    box-sizing: border-box;
}